/*
Alunos/Matriculas:
Matheus Freire Bezerra - 01524929
Felipe Portela - 01553362
Lucas Beijamin Oliveira de Arruda - 01525249
João Cordeiro Freitas - 01510527


*/

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  .container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #saldo {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  